*::-webkit-input-placeholder {
	color: rgba(30, 30, 30, 0.3);
	opacity: 1;
}
*:-moz-placeholder {
	color: rgba(30, 30, 30, 0.3);
	opacity: 1;
}
*::-moz-placeholder {
	color: rgba(30, 30, 30, 0.3);
	opacity: 1;
}
*:-ms-input-placeholder {
	color: rgba(30, 30, 30, 0.3);
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #F3F3F4;
	overflow-x: hidden;
	margin: 0;
	background: #1E1E1E;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 193px;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	padding-top: 32px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.header__wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.logo {
	font-weight: 700;
	font-size: 48px;
	line-height: 71px;
	text-align: center;
	display: inline-block;
	letter-spacing: 0.06em;
	color: #F3F3F4;
	font-family: 'Oswald';
}
.scroll-down {
	font-size: 14px;
	line-height: 16px;
	padding: 6px 0;
	width: 263px;
	max-width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #F3F3F4;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
}
.header__center {
	margin: 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header__content {
	padding-bottom: 37px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #F3F3F4;
	flex: 1;
}
.logo-descr {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: -5px;
	color: #F3F3F4;
	font-family: 'Oswald';
	display: inline-flex;
	align-items: center;
}
.logo-descr__value {
	font-size: 38px;
	line-height: 56px;
	margin-right: 9px;
	font-weight: 200;
}
.logo-descr__text {
	max-width: 171px;
}
.link-page {
	line-height: 24px;
	letter-spacing: 0.03em;
	font-family: 'Oswald';
	color: #F3F3F4;
}
.link-page_main {
	color: #66D134;
}
.header__content .logo-descr,
.header__content .link-page {
	margin-right: auto;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 39px;
	height: 39px;
	padding-top: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	z-index: 20;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 24px;
	height:  3px;
	display: block;
	margin: 0;
	background-color: #F3F3F4;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 11px;
	width: 24px;
	height:  3px;
	display: block;
	margin: 0;
	background-color: #F3F3F4;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-footer {
	top: 6px;
	transform: rotate(-45deg); 
}
.btn-search {
	margin-left: auto;
	display: inline-block;
}
.location-value {
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	letter-spacing: 0.03em;
	color: #F3F3F4;
	display: inline-flex;
	align-items: center;
}
.location-value img {
	margin-right: 13px;
	border-radius: 50%;
	max-width: 18px;
	height: auto;
}
.location-unit {
	margin-left: auto;
	margin-right: auto;
}
.header__right {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 455px;
	margin-left: auto;
}

.billbord {
	height: 480px;
	border-radius: 10px;
	position: relative;
}
.billbord > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 10px;
}
.bage-billbord {
	width: 102px;
	height: 102px;
	top: 23px;
	right: 32px;
	padding: 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #9046CF;
	position: absolute;
}
.bage-billbord img {
	max-width: 100%;
	max-height: 100%;
}
.billbord__content {
	padding: 29px 38px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.billbord__title {
	font-size: 108px;
	line-height: 78px;
	padding-bottom: 12px;
	padding-left: 47px;
	letter-spacing: 0.06em;
	font-family: 'Oswald';
	text-transform: uppercase;
	font-weight: 200;
	color: #F3F3F4;
	text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
}
.billbord__subtitle {
	font-size: 73px;
	line-height: 86px;
	padding-left: 195px;
	font-weight: 900;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FCA311;
	text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
}
.billbord__descr {
	font-size: 48px;
	line-height: 71px;
	font-weight: 300;
	letter-spacing: 0.2em;
	font-family: 'Oswald';
	text-transform: uppercase;
	color: #F3F3F4;
	display: flex;
	align-items: center;
}
.billbord__descr img {
	margin-left: 26px;
}
.btn-page {
	font-weight: 900;
	font-size: 33px;
	line-height: 39px;
	height: 52px;
	padding: 0 40px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #66D134;
	border-radius: 4px;
	border: none;
}
.btn-page:hover {
	background-color: #36a701;
}
.billbord__bottom {
	width: 100%;
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.head-section {
	margin-top: 125px;
	display: flex;
	align-items: center;
	position: relative;
}
.title-section {
	font-size: 48px;
	line-height: 71px;
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Oswald';
}
.head-section::after {
	position: relative;
	display: block;
	content: " ";
	flex: 1;
	margin-left: 25px;
	border-bottom: 1px dashed #FFFFFF;
}
.head-section_reverse::after {
	order: -1;
	margin-left: 0;
	margin-right: 25px;
}
.head-section__bigtitle {
	font-weight: 700;
	font-size: 272px;
	line-height: 319px;
	color: rgba(243, 243, 244, 0.09);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	pointer-events: none;
}
.head-section_reverse .head-section__bigtitle {
	left: 0;
	right: auto;
}
.head-section__bigtitle_small {
	font-weight: 500;
	font-size: 82px;
	line-height: 96px;
	transform: translateY(-100%);
}

.item-advantage {
	margin-top: 17px;
}
.item-advantage__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 50px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.item-advantage__content {
	font-size: 24px;
	line-height: 36px;
	font-weight: 300;
	font-family: 'Oswald';
	display: flex;
}
.item-advantage__icon {
	margin-right: 34px;
}

.col-main {
	width: 20%;
	padding: 0 15px;
}
.item-logo {
	height: 126px;
	margin-top: 32px;
	background: rgba(243, 243, 244, 0.9);
	border-radius: 6px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-logo:hover {
	background-color: #fff;
}
.item-logo img {
	max-width: 100%;
	max-height: 100%;
}

.swiper-scrollbar {
	max-width: 1570px;
	margin: 0 auto;
	background: #F3F3F4;
	width: 100%;
	height: 1px;
}
.swiper-scrollbar .swiper-scrollbar-drag {
	background: #F3F3F4;
	border-radius: 70px;
	height: 13px;
	top: -6px;
	cursor: pointer; 
}
.slider-catalog .swiper-slide {
	width: 389px;
	padding: 0 15px;
	height: auto;
}
.item-catalog {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	background: #1E1E1E;
	border: 1px solid #F3F3F4;
	border-radius: 6px;
}
.item-catalog__image {
	height: 286px;
	display: block;
	position: relative;
	width: 100%;
}
.item-catalog__image > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
.item-catalog__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 81px;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
	border-radius: 0px 0px 6px 6px;
	transform: rotate(180deg);
}
.item-catalog__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 174px;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, #1E1E1E 100%);
}
.item-catalog__title {
	font-size: 28px;
	line-height: 33px;
	padding: 25px 18px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	color: #F3F3F4;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	z-index: 3;
}
.item-catalog__content {
	padding: 18px;
	padding-top: 5px;
	margin-bottom: auto;
	width: 100%;
}
.item-catalog__flex {
	margin-bottom: 22px;
	display: flex;
	align-items: center;
	width: 100%;
}
.list-page {
	font-size: 22px;
	line-height: 38px;
	letter-spacing: 0.03em;
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: capitalize;
	color: #F3F3F4;
	flex: none;
}
.list-page li {
	padding-left: 15px;
	position: relative;
}
.list-page li::before {
	position: absolute;
	display: block;
	content: "•";
	top: 0;
	left: 0;
	color: #66D134;
}
.price-main {
	font-size: 46px;
	line-height: 41px;
	font-weight: 500;
	text-transform: uppercase;
	color: #66D134;
	text-align: right;
}
.price-main span {
	font-size: 15px;
	line-height: 13px;
}
.item-catalog .price-main {
	margin-left: auto;
}
.features-wrapper {
	display: flex;
	justify-content: space-between;
}
.item-feature {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	display: flex;
	align-items: flex-end;
	color: rgba(243, 243, 244, 0.3);
}
.item-feature span {
	font-weight: 500;
	font-size: 16px;
	line-height: 14px;
	margin-left: 8px;
	margin-bottom: 2px;
	text-transform: lowercase;
	color: rgba(243, 243, 244, 0.8);
}
.btn-catalog {
	font-size: 28px;
	line-height: 33px;
	height: 50px;
	width: 100%;
	border: 1px solid #F3F3F4;
	border-radius: 0px 0px 6px 6px;
	background-color: #F3F3F4;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: #1E1E1E;
	transition: all 0.3s;
}
.btn-catalog:hover {
	background: #66D134;
	border-color: #66D134;
	color: #fff;
	text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.slider-catalog .swiper-controls {
	padding-top: 45px;
	padding-bottom: 93px;
}
.slider-catalog .arrow-swiper {
	display: none !important;
}
.slider-catalog * {
	box-sizing: border-box;
}
.badges-wrapper {
	top: 16px;
	left: 18px;
	position: absolute;
	display: flex;
	align-items: center;
}
.item-badge {
	margin-right: 12px;
}
.item-badge img {
	border-radius: 50%;
	max-width: 28px;
}
.logo-catalog {
	top: 16px;
	right: 16px;
	position: absolute;
}
.logo-catalog img {
	max-width: 140px;
}
.slider-catalog {
	margin-top: 32px;
}
.tabs-title {
	color: rgba(243, 243, 244, 0.3);	
}
.tabs-title a {
	color: rgba(243, 243, 244, 0.3);
}
.tabs-title a:hover,
.tabs-title a.active {
	color: #F3F3F4;
}
.tab-pane-catalog {
	display: none;
}
.tab-pane-catalog:first-child {
	display: block;
}

.section-achievements {
	padding: 53px 0;
	color: #1E1E1E;
	background: rgba(243, 243, 244, 0.9);
}
.item-achievement__value {
	font-size: 102px;
	line-height: 90px;
	font-weight: 700;
	text-transform: uppercase;
}
.item-achievement__title {
	font-size: 32px;
	line-height: 50px;
	margin-bottom: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.item-achievement p {
	font-size: 24px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: 0.03em;
	font-family: 'Oswald';
}

.section-news {
	padding-bottom: 88px;
}
.title-big {
	font-size: 112px;
	line-height: 166px;
	text-align: center;
	letter-spacing: 0.06em;
	font-weight: 600;
	color: #F3F3F4;
	font-family: 'Oswald';
}
.item-news {
	padding: 17px 0;
	font-weight: 300;
	border-top: 1px solid #F3F3F4;
	border-bottom: 1px solid #F3F3F4;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-news__title {
	font-size: 28px;
	line-height: 33px;
	margin-bottom: 19px;
	font-weight: 700;
	text-transform: uppercase;
	color: #F3F3F4;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: block;
	width: 100%;
}
.item-news__content {
	margin-bottom: 12px;
	display: flex;
	width: 100%;
}
.item-news__image {
	width: 167px;
	height: 167px;
	margin-right: 21px;
	display: block;
	flex: none;
	border-radius: 6px;
}
.item-news__image  img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
.item-news__bottom {
	width: 100%;
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tags-news {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(243, 243, 244, 0.3);
}
.tags-news a {
		color: rgba(243, 243, 244, 0.3);
}
.link-more {
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	text-transform: uppercase;
	color: #F3F3F4;
}
.row_news {
	margin: 0 -20px;
}
.row_news > div {
	padding: 0 20px;
	margin-top: 20px;
}
.bottom-button {
	padding-top: 70px;
	text-align: center;
}
.link-big {
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #F3F3F4;
}

.billbord_inner .billbord__content {
	padding-top: 62px;
	text-align: center;
	display: block;
}
.billbord_inner .billbord__subtitle {
	font-size: 39px;
	line-height: 46px;
	padding-left: 0;
}
.billbord_inner .billbord__title {
	font-size: 102px;
	line-height: 151px;
	padding-left: 0;
	font-weight: 600;
}
.billbord__text {
	font-weight: 300;
	font-size: 28px;
	line-height: 41px;
	text-align: center;
	letter-spacing: 0.03em;
	font-family: 'Oswald';
	max-width: 747px;
	margin: 0 auto;
	margin-bottom: 52px;
}
.billbord_inner {
	height: 528px;
	border-radius: 0;
}
.billbord_inner > img {
	border-radius: 0;
}

.section-questions {
	padding-bottom: 100px;
}
.item-question__head {
	font-size: 32px;
	line-height: 32px;
	text-transform: uppercase;
	font-weight: 700;
	color: #F3F3F4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-question__head img {
	margin-left: 20px;
	transition: all 0.3s;
}
.item-question__head.active img {
	transform: rotate(90deg);
}
.item-question__content {
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.03em;
	padding-top: 18px;
	padding-right: 40px;
	font-weight: 300;
	color: #F3F3F4;
	font-family: 'Oswald';
	display: none;
}
.item-question {
	margin-bottom: 64px;
}
.section-questions .head-section {
	margin-bottom: 32px;
}

.footer {
	padding-top: 29px;
	padding-bottom: 41px;
	font-weight: 300;
	font-size: 22px;
	line-height: 38px;
	letter-spacing: 0.03em;
	font-family: 'Oswald';
	text-transform: capitalize;
	color: #F3F3F4;
	background: rgba(243, 243, 244, 0.1);
}
.footer__descr {
	max-width: 298px;
}
.footer__nav a {
	color: #F3F3F4;
}
.footer__right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.list-payments {
	display: flex;
	align-items: center;
}
.list-payments li {
	margin-right: 26px;
}
.list-payments li:last-child {
	margin-right: 0;
}
.footer .logo {
	margin-bottom: 36px;
}
.copyright {
	font-size: 28px;
	line-height: 41px;
	padding-top: 68px;
	text-transform: uppercase;
}
.footer__col {
	padding-top: 20px;
}
.footer__nav a:hover,
.link-big:hover,
.link-more:hover,
.item-news__title:hover,
.location-value:hover,
.link-page:hover {
	color: #66D134;
}

.head-page {
	margin-bottom: 16px;
	display: flex;
	align-items: flex-start;
}
.head-page .title-section {
	margin-right: 22px;
	font-weight: 500;
}
.head-page .breadcrumbs {
	margin-top: 28px;
}
.breadcrumbs {
	font-size: 22px;
	line-height: 33px;
	text-transform: uppercase;
	font-weight: 300;
	color: #F3F3F4;
	font-family: 'Oswald';
	display: flex;
	align-items: center;
}
.breadcrumbs span,
.breadcrumbs a {
	color: rgba(243, 243, 244, 0.3);
}
.breadcrumbs a:hover {
	color: rgba(243, 243, 244, 1);
}
.breadcrumbs span {
	margin: 0 4px;
}
.head-page__logo img {
	max-width: 358px;
}
.head-page__logo {
	margin-left: auto;
}
.title-middle {
	font-size: 32px;
	line-height: 47px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #F3F3F4;
	font-family: 'Oswald';
}
.item-road {
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 0.05em;
	margin-top: 40px;
	text-transform: uppercase;
	color: #1E1E1E;
	font-family: 'Oswald';
	height: 96px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F3F3F4;
	border-radius: 4px;
}
.item-road:hover {
	background-color: #fff;
}
.item-road img {
	max-width: 70px;
	max-height: 100%;
}
.row_roads {
	margin: 0 -20px;
}
.row_roads > div {
	padding: 0 20px;
}
.row_catalog > div {
	margin-top: 35px;
}
.service-page {
	padding-bottom: 99px;
}
.catalog-wrapper {
	position: relative;
}
.catalog-wrapper::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 383px;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.835248) 78.84%, #1E1E1E 100%);
}
.catalog-wrapper .row_catalog > div:nth-child(n+9) {
	display: none;
}
.catalog-wrapper.active::after {
	display: none;
}
.title-block {
	font-size: 58px;
	line-height: 60px;
	padding: 11px 90px;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-family: 'Oswald';
	color: #1E1E1E;
	background: #F3F3F4;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}
.title-block img {
	margin-right: 24px;
}
.title-block::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	right: 0;
	width: 1000px;
	height: 100%;
	z-index: -1;
	background: #F3F3F4;
	pointer-events: none;
}
.text-main {
	font-size: 22px;
	line-height: 30px;
}
.process-wrapper {
	display: flex;
	align-items: center;
}
.item-process {
	display: flex;
	align-items: center;
}
.item-process__number {
	width: 96px;
	height: 96px;
	font-size: 62px;
	line-height: 73px;
	margin-right: 18px;
	flex: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: #1E1E1E;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #D9D9D9;
}
.item-process__content {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-transform: uppercase;
	color: #F3F3F4;
	font-family: 'Oswald';
}
.item-process::after {
	position: relative;
	display: block;
	content: " ";
	width: 61px;
	height: 64px;
	margin: 0 35px;
	background-image: url(../img/arrows-process.svg);
	background-repeat: no-repeat;
	background-position: center;
	flex: none;
}
.item-process:last-child::after {
	display: none;
}
.section-process .head-section {
	margin-bottom: 28px;
}
.section-process {
	padding-bottom: 32px;
}
.section-questions_more .title-section {
	padding-bottom: 29px;
}

.section-safety {
	padding-bottom: 215px;
}
.item-safety {
	font-size: 14px;
	line-height: 16px;
	padding: 15px 24px;
	color: #1E1E1E;
	background: #F3F3F4;
	border-radius: 0px 20px;
	min-height: 100%;
	display: flex;
	align-items: center;
}
.item-safety__icon {
	margin-right: 14px;
	flex: none;
}
.item-safety__icon img {
	max-width: 84px;
}
.item-safety__title {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	font-family: 'Oswald';
}
.section-questions_more {
	padding-bottom: 60px;
}
.section-buy .title-middle img {
	margin-right: 11px;
}
.section-buy .title-middle {
	display: flex;
	align-items: center;
}
.buy-block {
	padding-top: 48px;
	padding-bottom: 96px;
	margin-top: 39px;
	position: relative;
	z-index: 1;
}
.buy-block__image {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.buy-block__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.buy-block__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(0deg, rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7));
}
.buy-block__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 248px;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.835248) 78.84%, #1E1E1E 100%);
}
.title-small {
	font-size: 22px;
	line-height: 33px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Oswald';
}
.advantages-buy-wrapper {
	padding-top: 21px;
	margin-bottom: 33px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	border-bottom: 1px dashed #F3F3F4;
}
.item-advantage-buy {
	line-height: 18px;
	margin-bottom: 23px;
	font-weight: 500;
	width: 33.333%;
	text-align: center;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-advantage-buy__icon {
	width: 112px;
	height: 112px;
	margin: 0 auto;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: rgba(243, 243, 244, 0.5);
}
.item-advantage-buy__icon img {
	max-width: 100%;
	max-height: 100%;
}
.buy-block .list-page {
	margin-bottom: 39px;
	columns: 2;
}
.buy-block .item-feature {
	font-size: 24px;
	line-height: 26px;
}
.buy-block .item-feature span {
	font-size: 22px;
line-height: 26px;
margin-bottom: 0;
}
.buy-order {
	padding: 24px;
	color: #F3F3F4;
	background: rgba(243, 243, 244, 0.3);
border-radius: 16px;
}
.buy-order__title {
	font-size: 18px;
line-height: 18px;
margin-bottom: 15px;
font-weight: 700;
}
.irs--flat .irs-line {
	height: 2px;
	    top: 5px;
	background: #F3F3F4;
	border-radius: 0;
}
.irs--flat .irs-bar {
	    top: 5px;
	height: 2px;
		background: #F3F3F4;
	border-radius: 0;
}
.irs--flat .irs-handle {
	width: 20px;
	height: 20px;
	    top: -4px;
	    cursor: pointer;
	border-radius: 50%;
	background: #F3F3F4;
}
.irs--flat .irs-handle>i {
	display: none !important;
}
.range-main__input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	display: none !important;
}
.irs--flat .irs-min, 
.irs--flat .irs-max {
font-size: 18px;
line-height: 12px;
top: 21px;
	font-weight: 700;
color: #F3F3F4;
	background-color: transparent;
}
.range-main {
	padding-top: 20px;
	margin-bottom: 40px;
}
.radio {
font-size: 18px;
line-height: 12px;
margin-bottom: 26px;
	border-bottom: 1px solid #F3F3F4;
	text-align: left;
}
.radio label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.radio label > span {
	position: relative;
	padding: 4px 0 18px 26px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.radio label > span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
width: 17px;
height: 17px;
border-radius: 50%;
background: #FFFFFF;
border: 1px solid #ABB5BE;
border-radius: 16px;
	transition: .2s;
}
.radio label input:checked + span:before {
border-width: 5px;
border-color: #7749F8;
}
.radio label > span span {
	margin-left: auto;
}
.checkbox {
font-size: 18px;
line-height: 12px;
margin-bottom: 26px;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 4px 0 0px 26px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
width: 16px;
height: 16px;
border-radius: 50%;
background: #FFFFFF;
border: 1px solid #ABB5BE;
border-radius: 2px;
	transition: .2s;
}
.checkbox label span:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 0px;
	width: 16px;
	height: 16px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #7749F8;
	font-size: 10px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox label > span span {
	margin-left: auto;
}
.buy-order__inner {
	padding: 20px 24px;
	background: rgba(243, 243, 244, 0.6);
border-radius: 16px;
}
.buy-order__price {
font-size: 64px;
line-height: 58px;
	font-weight: 700;
text-transform: uppercase;
color: #1E1E1E;
}
.link-title {
	font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: center;
border-bottom: 1px dashed #1E1E1E;
letter-spacing: 0.01em;
text-transform: uppercase;
color: #1E1E1E;
font-family: 'Oswald';
display: inline-block;
}
.buy-order__head {
	margin-bottom: 18px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.buy-order__input input {
	font-size: 18px;
line-height: 27px;
letter-spacing: 0.05em;
padding: 0 20px;
background: rgba(243, 243, 244, 0.3);
border-radius: 6px;
height: 48px;
border: none;
width: 100%;
color: #1E1E1E;
font-family: 'Oswald';
color: rgba(30, 30, 30, 0.3);
}
.buy-order__inner .checkbox {
	font-size: 14px;
line-height: 16px;
color: rgba(30, 30, 30, 0.3);
font-weight: 500;
}
.buy-order__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.buy-order__buttons .btn-page {
	font-size: 28px;
line-height: 33px;
	flex: none;
	width: 256px;
	max-width: 100%;
	padding: 0 10px;
}
.buy-order__buttons .checkbox {
	margin: 0;
	margin-right: 25px;
}
.buy-order__input {
	margin-bottom: 18px;
}
.buy-order .list-payments {
	margin-top: 26px;
	flex-wrap: wrap;
	justify-content: center;
}
.list-payments li {
	margin: 0 22px;
	margin-top: 10px;
}
.list-payments li:nth-child(5) {
	margin-left: 0;
	margin-right: 0;
}
.buy-order__ask {
font-size: 14px;
line-height: 28px;
	font-weight: 300;
}
.buy-order__ask a {
	color: #F3F3F4;
	font-weight: 700;
	margin-left: 14px;
}
.chat-icon {
	width: 128px;
height: 48px;
flex: none;
	background: #F3F3F4;
border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.chat-icon img {
	max-width: 100%;
	max-height: 100%;
}
.buy-order__bottom {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tabs-page {
	display: flex;
	align-items: center;
}
.tabs-page a {
font-size: 22px;
line-height: 33px;
	font-weight: 600;
text-transform: uppercase;
color: rgba(243, 243, 244, 0.3);
}
.tabs-page .active a,
.tabs-page a:hover {
	color: #F3F3F4;
}
.tabs-page li {
	margin-right: 44px;
}
.tabs-page li:last-child {
	margin-right: 0;
}
.tab-container-page {
	padding-top: 23px;
}
.tab-container-page .text-main {
	font-weight: 300;
}
.text-main p a {
	color: #F3F3F4;
	border-bottom: 1px solid #F3F3F4;
}
.text-main p a:hover {
	border-color: transparent;
}
.tab-pane-page {
	display: none;
}
.tab-pane-page:first-child {
	display: block;
}
.section-buy ~ .section-questions_more {
    padding-bottom: 30px;
}
.section-buy ~ .section-safety {
	padding-bottom: 0;
}
.section-recommendation {
	padding-bottom: 20px;
}
.item-blog {
	padding-top: 42px;
	padding-bottom: 44px;
	border-bottom: 1px dashed #FFFFFF;
}
.item-blog__title {
font-size: 28px;
line-height: 33px;
margin-bottom: 20px;
	font-weight: 700;
text-transform: uppercase;
color: #F3F3F4;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: block;
}
.item-blog__wrapper {
	display: flex;
}
.item-blog__image {
	width: 494px;
	height: 288px;
	margin-right: 44px;
	flex: none;
	border-radius: 6px;
	display: block;
}
.item-blog__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
.item-blog__content {
	line-height: 22px;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
}
.item-blog__content p strong {
	font-weight: 700;
text-transform: uppercase;
}
.item-blog__bottom {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.pager-wrapper {
	padding-top: 60px;
	display: flex;
	justify-content: flex-end;
}
.pager {
	background: #6C757D;
	border-radius: 4px;
	display: flex;
	align-items: center;
}
.page-numbers {
	width: 43px;
	height: 40px;
	font-weight: 500;
color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-news {
	padding-bottom: 95px;
}
.sidebar-news .item-catalog {
	margin-bottom: 45px;
	min-height: initial;
}
.sidebar-news .title-section {
	padding-bottom: 32px;
}
.sidebar-news {
	margin-top: -60px;
}
.section-billbord_page {
	margin-bottom: 192px;
}
.page-article .sidebar-news {
	margin-top: 0;
}
.head-page .breadcrumbs + .title-section {
	margin-left: auto;
	margin-right: 0;
}
.article {
	font-size: 18px;
line-height: 28px;
font-weight: 300;
width: 100%;
}
.article p strong {
	text-transform: uppercase;
}
.article p {
	margin-bottom: 20px;
}
.image-article {
	margin-bottom: 40px;
	position: relative;
}
.image-article img {
	max-width: 100%;
	height: auto;
}
.logo-article {
	top: 30px;
	left: 30px;
	position: absolute;
}
.logo-article img {
	max-width: 312px;
}
.page-article .head-page {
	margin-bottom: 33px;
	width: 100%;
}
.slider-images {
	margin: 0 -12px;
	padding-bottom: 60px;
	margin-top: 40px;
	margin-bottom: 100px;
}
.slider-images__item {
	height: 253px;
	width: 100%;
	display: block;
}
.slider-images__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.slider-images .slick-slide {
	padding: 0 12px;
}
.slick-arrow {
	width: 32px;
height: 32px;
bottom: 0;
top: auto;
transform: none;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
border: 1px solid #F3F3F4;
transition: all 0.3s;
}
.slick-prev {
	padding-right: 3px;
	left: 12px;
}
.slick-next {
	padding-left: 1px;
	right: 12px;
}
.slick-arrow.slick-disabled {
	visibility: hidden;
}
.row_big {
	margin: 0 -40px;
}
.row_big > div {
	padding: 0 40px;
}
.page-article__left {
	padding-bottom: 42px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.page-article .pager-wrapper {
	padding-top: 30px;
	width: 100%;
	margin-top: auto;
}
.page-article {
	padding-bottom: 190px;
}
.title-sidebar {
font-size: 28px;
line-height: 41px;
padding-top: 20px;
padding-bottom: 40px;
text-transform: uppercase;
	font-weight: 300;
font-family: 'Oswald';
}